.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 24px;
}
